.blogs {
	.blogs__item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	@include respond-to(handhelds) { text-align: center; }
		.blogs__img {
			width: 120px;
			height: 80px;
		}

		.blogs__content {
			padding-left: 20px;

			@include respond-to(handhelds) {
				width: 100%;
				height: auto;
			}

			a {
				display: block;
				line-height: 1.5;
				margin-bottom: 5px;
				font-size: 12px;
				text-decoration: none;
				color: #333;
				text-transform: uppercase;
				
				@include respond-to(handhelds) {font-size: 10px;}

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			.blogs__date {
				color: #ccc;
				font-style: italic;
				font-size: 13px;
			}
		}
	}
}