.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	margin: 0 0 30px;
	border: 3px solid #fff;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	transition: color .2s linear, background .2s linear;
	text-transform: uppercase;
	text-decoration: none;

	&:hover {
		background-color: #fff;
		color: #333;
	}
}