.nav {
	font-size: 14px;
	text-transform: uppercase;

	@include respond-to(wide-handhelds) {
		display: none;
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;background-color: #eb8b8d;
	}

	&.active {
		@include respond-to(wide-handhelds) { display: block; }
	}

	.nav__link {
		display: inline-block;
		vertical-align: top;
		margin: 0 15px;
		position: relative;
		color: #fff;
		text-decoration: none;
		transition: color .1s linear;

		@include respond-to(wide-handhelds) {
			display: block;
			margin: 0;
			padding: 8px 20px;
		}
		
		&.active {
			color: #fce38a;
			
			&:after {
				opacity: 1;
			}
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background-color: #fce38a;
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
			transition: opacity .1s linear;
		}

		&:hover {
			color: #fce38a;
			&:after {
				opacity: 1;
			}
		}
	}
}
