.services {
	display: flex;
	flex-wrap: wrap;

	@include respond-to(wide-handhelds) {justify-content: center;}

	.services__item {
		width: 33.33333%;
		padding: 0 35px 40px 85px;
		position: relative;
		margin-bottom: 40px;


		@include respond-to(tablets) {
			width: 50%;
			padding-bottom: 0;
		}

		@include respond-to(wide-handhelds) {
			width: 100%;
			max-width: 400px;
			padding-left: 55px;
			padding-right: 0;
		}

		&.services__item--border {
			border-bottom: 1px solid #e5e5e5;
			@include respond-to(tablets) { border-bottom: 0; }
		}

		.services__icon {
			position: absolute;
			top: 3px;
			left: 20px;
			z-index: 1;

			@include respond-to(wide-handhelds) {left: 0;}
		}

		.services__title {
			margin-bottom: 10px;
			color: #333;
			font-size: 14px;
			text-transform: uppercase;
		}

		.services__text {
			font-size: 15px;
			color: #999;
		}
	}
}